<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="./static/css/home.css">
  <title>Document</title>
</head>

<body>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="./home.html">AI - Water Labs</a>
    </div>
  </nav>
  <div class="home_img">
    <img
      src="https://images.unsplash.com/photo-1532094349884-543bc11b234d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
      alt="">
    <span class="home_img_txt">
      A Web App for Laboratiries for Water Estimations
    </span>
    <span class="home_img_down container">
      High Quality Water in Right Quality at the the RIght Place at the right Time Essential to Health,
      Recreation & Economic Growth
    </span>
  </div>
  <!-- Cards -->
  <div class="row d-flex">
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1552256028-2c58c3cbfa7a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80"
          class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Water Quality Checker</h5>
          <p class="card-text">
            Estimate the Class of Water Quality with this Automated tool.
          </p>
          <a href="waterquality.html" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1614308459036-779d0dfe51ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
          class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Water Potability Test</h5>
          <p class="card-text">
            Test to check the water quality is potable to drink or not.
          </p>

          <p><a href="waterpotabilitytest.html" class="btn btn-primary">View</a></p>
        </div>
      </div>
    </div>


  </div>
  </div>
</body>

</html>